<body>
  <section class="installer_forgot_password">
    <div class=" ">
      <div class="loginSection">
        <div class="login-form">
          <div class="main-div">
            <div class="panel">
              <div>
                <div class="logo"></div>
              </div>
              <p>Enter your email address to get reset password link</p>
            </div>
            <form
              id="Login"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail"
                  placeholder="Email Address"
                  name="email"
                  [(ngModel)]="f1.email"
                  #email="ngModel"
                  required
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                />
              </div>

              <button type="submit" class="button">
                Submit
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <ng-template #messagebox>
      <div class="modal-body modal-body_messagebox text-center">
        <div class="msgLogo"><img src="../../../assets/msg_logo.png" /></div>

        <!-- <p class="headtext">message</p> -->
        <div *ngFor="let m of message" class="messageBlock">{{ m }}</div>

        <div>
          <button
            type="button"
            class="btn orangeButton"
            aria-label="Close"
            (click)="close()"
          >
            Ok
          </button>
        </div>
      </div>
      <br />
    </ng-template>
  </section>
</body>
