.btn .btn-link .ng-star-inserted {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.zipbox{
  border-radius: 6px !important;
    height: 50px !important;
}

.date-error{
  width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}