
    
    <header
      *ngIf="menusBar"
      [ngStyle]="{ 'background-color': practiceMainColor }"
    >
      <div class="container">
        <nav class="navbar">
          <a class="borrower_logo">
            <img [src]="path" />
          </a>
          <a class="btn btnGreen" [routerLink]="['/startApplication']" >Start Application</a>
          <!-- <a
            class="btn btnGreen"
            [routerLink]="['/borrower/login']"
            *ngIf="!isUserlogin"
            >Login</a
          > -->
          <div class="displayFlex AlignItemCenter" *ngIf="isUserlogin">
            <div>
              <div class="displayFlex AlignItemCenter">
                <div class="mr16"><img src="../assets/new/hand.png" /></div>
                <div class="mr16">
                  <div>Hello,</div>
                  <div>
                    <a [routerLink]="['/borrower/overview']" class="blackText">
                      <strong>
                        {{ UDInfo.firstname }} {{ UDInfo.lastname }}
                      </strong></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div
              class="btnGreen-outline cursorpointer"
              *ngIf="isUserlogin"
              (click)="logout()"
            >
              Logout
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="loginSection mb_159">
            <h1 class="heading_Bold28 mb_40 textAlignCenter">Forgot your password?</h1>

          <form
            id="Login"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <input
                type="email"
                class="adminInput"
                id="inputEmail"
                placeholder="Email Address"
                name="email"
                [(ngModel)]="f1.email"
                #email="ngModel"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
              />
            </div>

            <button type="submit" class="btn btnGreen w100per">
             Reset password
            
            </button>
              <div class="forgot mt_20 textAlignCenter">
              <a href="javascript:void(0)" routerLink="borrower/login">Login</a>
            </div>
          </form>
      </div>
  <ng-template #messagebox>
    <div class="modal-body text-center">
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="headtext">Message</p>
      <p *ngFor="let m of message">{{ m }}</p>
    </div>
  </ng-template>
